In [ ]:
# load data
# load nodes for enterprises
# save attributes for enterprises
# identify the legal entity and aliases
# identify edges betw enterprises as count of documents exchanged

In [51]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# A directed graph class that can store multiedges.
G = nx.MultiDiGraph()

In [52]:
legal_entities = pd.DataFrame({'ID':[1,2,3,4,5,6], 
                   'Name':['A', 'H', 'J', 'U', 'E', 'F'], 
                   'Identifier': ['12345678', '12345679', '12345680', '12345681', '12345682', '12345683'],
                   'Country': ['BE', 'BE', 'BE', 'BE', 'BE', 'BE']
}) 

clients = pd.DataFrame({'ID': [42,23,43,4,5,6], 
                   'Name':['A', 'H', 'J', 'U', 'E', 'F'], 
                   'VAT': ['BE12345678', 'BE12345679', 'BE12345680', 'BE12345681', 'BE12345682', 'BE12345683'],
                   'CBE': ['12345678', '12345679', '12345680', '12345681',  pd.np.nan,  pd.np.nan],
                   'Street': ['SomeStr1','SomeStr2','SomeStr3','SomeStr4','SomeStr5','SomeStr6'],
                   'City': ['Brussels','Brussels','Brussels','Brussels','Brussels','Brussels'],     
                   'Country': ['BE', 'BE', 'BE', 'BE', 'BE', 'BE'],
                   'Email': ['felix.revert@gmail.com', 'jean.durand@gmail.com', 'j.custom@gmail.com', pd.np.nan, 'j.custom@gmail.com', pd.np.nan]    
})

debtors = pd.DataFrame({'ID':[1,2,3,4,5,6], 
                   'Name':['A', 'B', 'C', 'U', 'E', 'F'], 
                   'Identifier': ['12345678', '12666679', '12567680', '12345681', '12345682', '12345682'],
                   'Country': ['BE', 'BE', 'BE', 'BE', 'BE', 'BE']}) 

creditors = pd.DataFrame({'ID':[1,2,3,4,5,6], 
                   'Name':['A', 'X', 'Y', 'U', 'E', 'F'], 
                   'Identifier': ['12345678', '12345665', '12345443', '12345681', '12345682', '12345682'],
                   'Country': ['BE', 'BE', 'BE', 'BE', 'BE', 'BE']})

In [53]:
legal_entities['LegalEntity'] = legal_entities['Country'] + legal_entities['Identifier'] 
legal_entities

  Country  ID Identifier Name LegalEntity
0      BE   1   12345678    A  BE12345678
1      BE   2   12345679    H  BE12345679
2      BE   3   12345680    J  BE12345680
3      BE   4   12345681    U  BE12345681
4      BE   5   12345682    E  BE12345682
5      BE   6   12345683    F  BE12345683

In [54]:
#2 Identify Clients (enterprises) linked to legal_entities nodes using intersection - merge

# clients[('LegalEntity'] = clients['Country'] + clients['CBE'] 
clients['LegalEntity'] = clients['Country'] + (clients['CBE'])

In [56]:
## fill in LegalEntity from BE VAT
idx = clients[(clients['LegalEntity'].isnull()) & (clients['Country']=='BE') & (clients['VAT'].notnull())].index
clients.at[idx,'LegalEntity'] = clients.loc[idx]['VAT']
clients

,CBE,City,Country,Email,ID,Name,Street,VAT,LegalEntity
0,12345678,Brussels,BE,felix.revert@gmail.com,42,A,SomeStr1,BE12345678,BE12345678
1,12345679,Brussels,BE,jean.durand@gmail.com,23,H,SomeStr2,BE12345679,BE12345679
2,12345680,Brussels,BE,j.custom@gmail.com,43,J,SomeStr3,BE12345680,BE12345680
3,12345681,Brussels,BE,NaN,4,U,SomeStr4,BE12345681,BE12345681
4,NaN,Brussels,BE,j.custom@gmail.com,5,E,SomeStr5,BE12345682,BE12345682
5,NaN,Brussels,BE,NaN,6,F,SomeStr6,BE12345683,BE12345683

In [59]:
#1 add legal_entities as nodes
G.add_nodes_from(legal_entities['LegalEntity'], )
# add legal entity attributes
# Identifier_Type, Node_Type

node_attr = pd.DataFrame(legal_entities).set_index('LegalEntity')
node_attr['Node_Type']='LegalEntity'
nx.set_node_attributes(G, node_attr)


# add enterprises nodes
#G = nx.from_pandas_edgelist(df=enterprises, source='ID', target='ID_2', edge_attr='Identifier0')
#list(G.nodes)
list(G.nodes(data=True))
G.nodes['BE12345679']

{}

In [60]:
nx.get_node_attributes(G,'Node_Type')

{}

In [ ]:
list(G.nodes(data=True))

In [ ]:
clients.filter(regex='Identifier').columns

In [ ]:
list1 =list(pd.Series(columns).index)
str1 = ''.join(str(e) for e in list1)
str1

In [ ]:
clients[('Identifier'+ str(columns.index(column)))] = 2

In [ ]:
len(clients[column])